site_name: "Designed to Fail: Why is Okinawa the poorest after 14.8 trillion yen in special development aid?"
site_description: From a perspective of game theory.

theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon-32x32.png
  icon:
    logo: logo

plugins:
  - search
  - macros
  - redirects:
      redirect_maps:
        index.md: 01_Analysis/index.md

hooks:
  - docs/python/hook_strip_number.py
  - docs/python/dashboard_hook.py

extra_javascript:
  - https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js
  - javascripts/chart_share.js
  - javascripts/share-headers.js

extra_css:
  - css/extra.css

