site_name: "Okinawa is designed to fail"
site_description: Why is Okinawa the poorest after 14.8 trillion yen in special development aid?: From a perspective of game theory.

theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/icon_kikkosuperbold_kuro2.svg
  icon:
    logo: logo

plugins:
  - search
  - macros

hooks:
  - docs/python/strip_number_hook.py

extra_javascript:
  - https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js
  - javascripts/chart_share.js
  - javascripts/share-headers.js

extra_css:
  - css/extra.css

